.footer
	
	.nav-fixed-top &
		background: $footer-bg
		color: $footer-color
		padding: 12px 0

		&-container
			@extend .container;
		
		&-col
			@extend .col-sm-6
		
		.social		
			float: right
			
			a
				color: $footer-color
		
	.nav-fixed-left &
		border-left: thin solid rgba($black,.2)
		background: $post-bg

		&-container
			border-top: 4px solid $masthead-left-bg
			padding: 30px

		&-col
			@extend .col-sm-6
			
		.social
			float: right
		
		.social a
			color: $masthead-left-bg

	.copyright
		line-height: 1.6
		font-size: 0.875em

		p:last-child
			margin: 0

	.social
		font-size: 1.875em

		a
			@include size(24px)
			display: block


		> li

			padding: 0 10px

			&:last-child
				padding-right: 0
