.masthead
	position: fixed
	white-space: nowrap
	overflow: hidden
	z-index: 10
	left: 0
	top: 0

	&-navigation
		a
			color: $white

	.nav-fixed-top &
		@include size(100% $masthead-height)
		background: $masthead-bg
		background: rgba($masthead-bg,.3)
		text-shadow: 0 1px 1px rgba(34, 30, 31, 0.55)
		
		&-container
			@extend .container;
		
		&-col
			@extend .col-sm-6
		
		&-branding
			a
				display: block
				line-height: $masthead-height
				@include size($masthead-height)
				background:
					size: ($masthead-height - 10)
					position: center
					repeat: no-repeat
					color: transparent
					image: url('../images/logo.svg')
				
				span
					@extend .text-hide;

		&-navigation
			float: right

			ul
				display: table

				> li
					line-height: $masthead-height
					display: table-cell
					padding: 0 15px

	
	.nav-fixed-left &
		@include size($masthead-width 100%)
		background: $masthead-left-bg
		padding-top: 21px
		
		
		&-container
			padding: 21px 15px 0 30px

		&-brand
			display: block
			margin-bottom: 1em
			text-transform: $h1-text-transform
			color: $white
			font:
				size: $h3-font-size
				weight: $h1-font-weight
				style: $h1-font-style
				variant: $h1-font-variant
				family: $h1-font-family


		&-navigation

			ul
				list-style-type: none
				padding: 0
				margin: 0

				> li
					font-size: $h3-font-size
					margin-bottom: 0.6em
					

.nav-fixed-top
	padding-top: $masthead-height

.nav-fixed-left
	.content, .footer
		padding-left: $masthead-width