<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<section class="copyright">
					<p>&copy; Kyle A. Carter 2016. All Rights Reserved.</p>
					<p>This website and the code there in are meant to act as a code base portfolio for Kyle A. Carter and do no represt large scale enterprise applicatons.</p>
				</section>
			</div>
			<div class="col-sm-6">
				<ul class="list-inline social">
					<li><a href="" rel="nofollow" role="link" class="lnk ionicons ion-social-facebook"><span class="sr-only">Facebook</span></a></li>
					<li><a href="" rel="nofollow" role="link" class="lnk ionicons ion-social-twitter"><span class="sr-only">Twitter</span></a></li>
					<li><a href="" rel="nofollow" role="link" class="lnk ionicons ion-social-linkedin"><span class="sr-only">LinkedIn</span></a></li>
					<li><a href="" rel="nofollow" role="link" class="lnk ionicons ion-social-googleplus"><span class="sr-only">Google+</span></a></li>
					<li><a href="" rel="nofollow" role="link" class="lnk ionicons ion-social-pinterest"><span class="sr-only">Pinterest</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
