<nav class="masthead" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<header class="masthead-branding">
					<a href="/"><span class="sr-only">Kyle Carter</span></a>
				</header>
			</div>
			<div class="col-sm-6">
				<section role="navigation" class="masthead-navigation pull-right">
					<ul>
						<li><a href="" role="link"><span class="unstuck-only" title="Learn More">About</span></a></li>
						<li><a href="" role="link"><span class="unstuck-only" title="Code Examples">Projects</span></a></li>
						<li><a href="" role="link"><span class="unstuck-only" title="Project Details">Documentation</span></a></li>
						<li><a href="" role="link"><span class="unstuck-only" title="View the Source">Github</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</nav>
