{% load staticfiles %}{% load compress %}<nav class="masthead" role="banner">
	<div class="masthead-container">
		<div class="row">
			<div class="masthead-col">
				<header class="masthead-branding">
					<a href="/" class="masthead-brand"><span>Kyle Carter</span></a>
				</header>
			</div>
			<div class="masthead-col">
				<section role="navigation" class="masthead-navigation">
					<ul>
						<li><a href="{% static "downloads/KyleCarter_Resume.pdf" %}" role="link" target="_blank"><span class="unstuck-only" title="Learn More">About</span></a></li>
						{#<li><a href="" role="link"><span class="unstuck-only" title="Code Examples">Projects</span></a></li>#}
						{#<li><a href="" role="link"><span class="unstuck-only" title="Project Details">Documentation</span></a></li>#}
						<li><a href="https://github.com/kylecarter" role="link"><span class="unstuck-only" title="View the Source">Github</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</nav>
