@import '../../css/variables.css';

.nav {
    background-color: rgba(33, 34, 31, 0.5);
    box-shadow: inset 0 -0.062rem 0 rgba(0, 0, 0, 0.5);
    color: var(--wild-sand);
    display: flex;
    font: 700 1.125em var(--font-family-monospace);
    padding: 1.563rem 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .nav {
        padding-left: calc((100% - (var(--breakpoint-tablet) - 2rem)) / 2);
        padding-right: calc((100% - (var(--breakpoint-tablet) - 2rem)) / 2);
    }
}

@media screen and (min-width: 992px) {
    .nav {
        padding-left: calc((100% - (var(--breakpoint-laptop) - 2rem)) / 2);
        padding-right: calc((100% - (var(--breakpoint-laptop) - 2rem)) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        padding-left: calc((100% - (var(--breakpoint-desktop) - 2rem)) / 2);
        padding-right: calc((100% - (var(--breakpoint-desktop) - 2rem)) / 2);
    }
}

.navMenu {
    background-color: rgba(149, 172, 9, 0.9);
    height: 100vh;
    left: -100%;
    padding: 2rem 0 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: left 0.15s ease-in-out;
    width: 100vw;
}

.navOpen .navMenu {
    left: 0;
}

@media screen and (min-width: 768px) {
    .navMenu {
        align-items: center;
        background-color: transparent;
        display: flex;
        height: auto;
        left: auto;
        margin: 0 -1rem;
        padding: 0;
        position: relative;
        text-align: left;
        top: auto;
        width: auto;
    }

    .navMenu>li {
        display: inline-block;
        vertical-align: middle;
    }
}

.navAnchor {
    color: inherit;
    display: block;
    margin: 1rem 0;
    padding: 0 1rem;
    text-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .navAnchor {
        margin: 0;
        text-shadow: none;
    }

    .navAnchor:hover,
    .navAnchor:focus,
    .navAnchor:active {
        color: var(--pistacio-2);
    }
}

.logo {
    display: inline-block;
    height: 3.688rem;
    margin-right: 0.5rem;
    width: 3.688rem;
}

.logoContainer {
    align-items: center;
    display: flex;
}

.hideVisually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.naviconContainer {
    display: block;
    width: 1.75rem;
}

@media screen and (min-width: 768px) {
    .naviconContainer {
        display: none;
    }
}

.navClose {
    right: 1rem;
    position: absolute;
    top: 1rem;
}

@media screen and (min-width: 768px) {
    .navMenu > .navClose {
        display: none;
    }
}

.closeicon {
    height: 1.5rem;
    width: 1.5rem;
}
